/* ACCOUNT DISPLAY */

.profile-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 30vw;
  color: rgb(184, 161, 134);
}

.logged-in-as-text {
  margin: 0;
  margin-left: 10%;
}

.img-name-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  font-size: 1.15em;
}

.img-name-container:hover {
  background-color: rgb(210, 193, 176, 0.1);
  color:#DABE99;
  border-radius: 10%;
  cursor: pointer;
}

.img-name-container:hover > .account-menu-button {
  transform: rotate(0deg);
}

.profile-img {
  width: 5vw;
  height: 5vh;
  border-radius: 50%;
}

.account-menu-button {
  width: 3.5vw;
  height: 3.5vh;
  filter: invert(86%) sepia(32%) saturate(424%) hue-rotate(333deg) brightness(92%) contrast(84%);
  transform: rotate(270deg);
}

.drop-down-active {
  width: 3.5vw;
  height: 3.5vh;
  filter: invert(86%) sepia(32%) saturate(424%) hue-rotate(333deg) brightness(92%) contrast(84%);
  transform: rotate(0deg);
}

.account-drop-down-menu {
  height: 10vh;
  width: 14vw;
  margin: 0;
  margin-top: 20vh;
  margin-left: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: absolute;
  background-color: #9D6538;
}

.account-drop-down-menu:hover {
  box-shadow: 0.25em 0.12em 0.12em #37251b;
}

.account-drop-down-menu:hover .sign-out-text:hover, .account-drop-down-menu:hover .edit-profile-text:hover, .view-contributions-text:hover {
  cursor: pointer;
  color:#DABE99;
  transform: scale(0.90);
}

.sign-out-text, .edit-profile-text, .view-contributions-text {
  margin: 0.5vh;
  font-size: 1em;
}

.drop-down-text-active {
  color:#DABE99;
}

/* EDIT PROFILE */

.edit-profile-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 90vh;
  overflow-y: scroll;
  background-color: rgb(253, 255, 246);
  color: rgb(17, 7, 2);
}

.return-to-main-page-button {
  margin: 0;
  margin-top: 0.5%;
}

.edit-profile-fieldset {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  margin: 2%;
  width: 50vw;
  height: 65vh;
  height: auto;
}

.edit-profile-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 5vh;
  font-size: 2em;
}

.edit-profile-label {
  font-size: 1.5em;
  margin: 0;
  margin-right: auto;
}

.edit-profile-input {
  width: 50vw;
  height: 3vh;
  font-size: 1.25em;
}

.return-to-main-page-button, .submit-profile-button {
  width: 20vw;
  height: 3.5vh;
  font-size: 0.95em;
}

.submit-profile-button {
  margin: 0;
  margin-top: 2%;
}

.return-to-main-page-button:hover, .submit-profile-button:hover, .delete-account-button:hover, .remove-data-button:hover {
  cursor: pointer;
}

.delete-account-button, .remove-data-button {
  width: 40vw;
  height: 3.5vh;
  font-size: 1.25em;
}

.return-to-main-page-button, .submit-profile-button, .delete-account-button, .remove-data-button {
  background-color: #9D6538;
  border-radius: 4%;
  color: #DABE99;
}