button {
  border-radius: 15px;
}

.espresso-logo {
  width: 5vw;
  height: 5vh;
}

.app-web {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: rgb(11, 1, 0);
}

.home-page-web {
  
}

.home-page-mobile {

}

