.feed-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 90vh;
  margin: 0;
  margin-top: 1%;
  gap: 5vh;
  overflow-y: scroll;
  overflow-x: none;
}

.post {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 75vw;
  height: auto;
  margin: 0;
}

.post:hover {
  box-shadow: 10px 5px 5px black;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  transform: scale(1.01);
}

.post-title:hover, .post-description:hover, .post-img:hover {
  cursor: pointer;
}

.upvote-downvote-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 5vw;
  margin: 0;
  margin-top: 2.5vh;
  margin-right: 1%;
}

.upvote-svg:hover, .downvote-svg:hover, .post-comment-svg:hover, .post-favorite-svg:hover {
  filter: invert(74%) sepia(0%) saturate(352%) hue-rotate(40deg) brightness(87%) contrast(85%);
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: auto;
  height: auto;
  width: 70vw;
}

.post-title {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 70vw;
  font-size: clamp(1.25em, 1.5em, 1.75em);
  margin: 0;
}

.post-description {
  height: 8vh;
  width: 70vw;
  margin: 0;
  display: flex;
  font-size: clamp(0.5em, 0.9em, 1.25em);
}

.post-link {
  width: 70vw;
  height: 10vh;
  margin: 0;
  color: white;
}

.post-img {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 4%;
}

.post-footer-container {
  width: 70vw;
  height: 3vh;
  gap: 1vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.post-comment-amount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 3vh;
  margin: 0;
  margin-right: 2vw;
}

.post-comment-svg, .post-favorite-svg, .upvote-svg, .downvote-svg {
  filter: invert(94%) sepia(9%) saturate(372%) hue-rotate(60deg) brightness(107%) contrast(105%);
}

.voting {
  animation: voted 0.5s;
}

/* VOTING ANIMATION FOR UPVOTE/DOWNVOTES */

@keyframes voted {
  from {
    filter: invert(0%) sepia(-81%) saturate(282%) hue-rotate(-30deg) brightness(17%) contrast(15%);
    transform: scale(2);
  }

  to {
    filter: invert(94%) sepia(9%) saturate(372%) hue-rotate(60deg) brightness(107%) contrast(105%);
    transform: scale(1);
  }
}