.home-page-web {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: auto;
  overflow-y: scroll;
  overflow-x: none;
}