.home-page-web {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: auto;
  overflow-y: scroll;
  overflow-x: none;
}

/* CREATE POST STYLES */

.create-post-container {
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 5vh;
  gap: 1vw;
  margin: 0;
  margin-top: 1%;
  background-color: rgb(129, 83, 40);
}

.hidden-create-post-container {
  position: none;
  display: none;
  width: none;
  height: none;
  margin: 0;
  background-color: none;
}

.create-post-tamper-img {
  width: 3vw;
  height: 3vh;
  border-radius: 50%;
  filter: invert(3%) sepia(29%) saturate(5201%) hue-rotate(19deg) brightness(85%) contrast(105%);
}

.create-post-text-input {
  width: 45vw;
  height: 3vh;
  font-size: 1.25em;
  background-color: rgb(253, 255, 246);
  color: rgb(17, 7, 2);
}

.create-post-insert-img, .create-post-insert-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vh;
  border-radius: 50%;
  background-color: rgb(253, 255, 246);
}

.create-post-svg {
  width: 3vw;
  height: 3vh;
  filter: invert(3%) sepia(29%) saturate(5201%) hue-rotate(19deg) brightness(85%) contrast(105%);
}

/* CREATE POST EXTENDED FORM, for when activated */

.close-form-button {
  width: 4vw;
  height: 4vh;
  border-radius: 10%;
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 255, 246);
}

.close-button-svg {
  filter: invert(3%) sepia(29%) saturate(5201%) hue-rotate(19deg) brightness(85%) contrast(105%);
  width: 3vw;
  height: 3vh;
}

.create-post-text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 65vw;
  height: 50vh;
  margin: 0;
  margin-top: 2%;
}

.create-post-form {
  background-color: rgb(129, 83, 40);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 65vw;
  height: 50vh;
}

.create-post-fieldset {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  gap: 1vh;
  width: 65vw;
  height: 50vh;
  border: 1px solid rgb(253, 255, 246);
}

.text-body-label {
  color: rgb(17, 7, 2);
  font-size: 1.25em;
}

.text-body-input {
  resize: none;
  width: 62vw;
  height: 40vh;
  margin: 0;
  font-size: 1.75em;
  overflow-y: scroll;
  overflow-x: none;
  color: rgb(17, 7, 2);
  background-color: rgb(253, 255, 246);
}

.post-submit-button {
  width: 10vw;
  height: 3vh;
  font-size: 1em;
  border-radius: 10%;
  background-color: rgb(253, 255, 246);
  color: rgb(17, 7, 2);
}

/* INSERT IMG CONTAINER ITEMS */

.create-post-img-container, .create-post-link-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: auto;
  margin: 0;
  margin-top: 2%;
}

.insert-image-input, .insert-link-input {
  width: 40vw;
  height: auto;
  font-size: 1em;
  color: rgb(253, 255, 246);
  background-color: rgb(129, 83, 40);
}

.insert-link-input {
  height: 3vh;
}

.insert-link-input::placeholder {
  color: rgb(253, 255, 246);
}

.error-text-post-input {
  width: 65vw;
  height: auto;
  color: white;
}