.posts-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin: 0;
  height: 90vh;
  width: 100vw;
  overflow-y: scroll;
}

.sort-by-container {
  width: 75vw;
  height: 3vh;
  margin: 0;
  margin-top: 1%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.sort-by-text {
  font-size: 1em;
  width: auto;
  height: 2vh;
  margin: 0;
}

.sort-menu-drop-down {
  /* width/height styling are in Posts.tsx */
  filter: invert(89%) sepia(10%) saturate(220%) hue-rotate(56deg) brightness(109%) contrast(108%);
  transform: rotate(0deg);
}

.sort-menu-drop-down:hover {
  transform: rotate(270deg);
  cursor: pointer;
}

.sort-drop-down-open {
  transform: rotate(270deg);
}

.sort-by-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2vh;
  margin: 0;
  margin-left: 1%;
  background-color: rgb(253, 255, 246);
  color: rgb(17, 7, 2);
}

.sort-by-button:hover {
  cursor: pointer;
}