.add-comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  height: auto;
}

.comment-input {
  resize: none;
  background-color: rgb(253, 255, 246);
  color: rgb(17, 7, 2);
  font-size: 1.25em;
}

.submit-comment-button {
  font-size: 1em;
  background-color: rgb(77, 39, 14);
  color: rgb(253, 255, 246);
}

.submit-comment-button:hover {
  cursor: pointer;
}

#validation-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 1.5em;
}

.text-authenticated {
  background-color: rgb(35,220,61);
}

.text-not-authenticated {
  background-color: orangered;
}

@media (max-width: 600px) {

  .add-comment-container {
    flex-flow: column nowrap;
    width: 95vw;
  }

  .comment-input {
    width: 90vw;
    height: 20vh;
  }

  .submit-comment-button {
    width: 45vw;
    height: 5vh;
  }

  #validation-text {
    width: 90vw;
  }

}

@media (min-width: 601px) {

  .add-comment-container {
    flex-flow: row nowrap;
    width: 75vw;
  }

  .comment-input {
    width: 60vw;
    height: 15vh;
  }

  .submit-comment-button {
    width: 15vw;
    height: 5vh;
  }

  #validation-text {
    width: 70vw;
  }

}