/* UPVOTE/DOWNVOTE STYLING IS IN APP.CSS SINCE IT'S SHARED WITH VOTE CONTAINER COMPONENT */

@media (max-width: 600px) {

  .comment-list {
    width: 95vw;
    margin: 0;
    margin-bottom: 10%;
  }

  .comment {
    width: 90vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .comment-info {
    width: 90vw;
  }

  .comment-account-time-text, .comment-text {
    width: 90vw;
    height: auto;
  }

  .comment-interaction-container {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: auto;
  }

}

@media (min-width: 601px) {

  .comment-list {
    width: 75vw;
  }

  .comment {
    width: 75vw;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
  }

  .comment-info {
    width: 70vw;
  }

  .comment-account-time-text, .comment-text {
    width: 90vw;
    height: auto;
  }

  .comment-interaction-container {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 4.5vw;
    height: 50%;
  }

}

.comment-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: auto;
}

.comment {
  display: flex;
  height: auto;
  margin: 2%;
}

.comment-info {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  height: auto;
}

.comment-account-time-text, .comment-text {
  margin: 1%;
}

.comment-text {
  height: auto;
  width: 70vw;
}

.comment-interaction-container {
  display: flex;
}

.upvote-count-text {
  margin: 4%;
}