.content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: auto;
  height: auto;
  margin: 0;
  margin-bottom: 1%;
  margin-right: 1%;
  gap: 1.5vh;
}

.post-title:hover, .post-description:hover, .post-img:hover {
  cursor: pointer;
}

.post-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  font-size: clamp(1.25em, 1.5em, 1.75em);
  margin: 0;
}

.post-description {
  height: auto;
  margin: 0;
  display: flex;
  font-size: clamp(0.5em, 0.9em, 1.25em);
}

.post-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  color: orange;
}

.post-img {
  width: 40vw;
  height: auto;
  margin: 0;
  margin-bottom: 4%;
}

.post-footer-container {
  gap: 1vw;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.post-comment-amount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 3vh;
  margin: 0;
  margin-right: 2vw;
}

.post-comment-svg, .post-favorite-svg, .upvote-svg, .downvote-svg {
  filter: invert(94%) sepia(9%) saturate(372%) hue-rotate(60deg) brightness(107%) contrast(105%);
}

@media (max-width: 600px) {

  .content-container {
    width: 90vw;
  }

  .post-title {
    width: 90vw;
  }

  .post-description {
    width: 90vw;
  }

  .post-link {
    width: 90vw;
  }

  .post-footer-container {
    width: 90vw;
    height: 5vh;
  }

  .post-comment-svg, .post-favorite-svg {
    width: 5vw;
    height: auto;
  }

}

@media (min-width: 601px) {

  .content-container {
    width: 50vw;
  }

  .post-title {
    width: 50vw;
  }

  .post-description {
    width: 50vw;
  }

  .post-link {
    width: 50vw;
  }

  .post-footer-container {
    width: 60vw;
    height: 3vh;
  }

  .post-comment-svg, .post-favorite-svg {
    width: 2vw;
    height: 2vh;
  }

}