.post-view-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  margin: 0;
  color: rgb(253, 255, 246);
}

.post-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-view-link {
  color: orange;
}

.post-view-img {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 4%;
}

.content-view-container {
  height: auto;
  margin: 0;
}

.post-account-time {
  font-size: 0.9em;
}

.post-views-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 600px) {

  .post-view-container {
    width: 95vw;
  }

  .post-view {
    width: 95vw;
  }

  .content-view-container {
    width: 90vw;
  }

  .post-views-text {
    width: 90vw;
  }

}

@media(min-width: 601px) {

  .post-view-container {
    width: 75vw;
  }

  .post-view {
    width: 75vw;
  }

  .content-view-container {
    width: 75vw;
  }

  .post-views-text {
    width: 72vw;
  }

}