@media (max-width: 600px) {

  .profile-container {
    height: 10vh;
    width: 40vw;
  }

  .logged-in-as-text {
    font-size: 0.5em;
  }

  .img-name-container {
    font-size: 0.9em;
    width: 40vw;
  }

  .profile-img {
    width: auto;
    height: 3.75vh;
  }

  .account-drop-down-menu {
    height: 20vh;
    width: 45vw;
    margin: 0;
    margin-top: 30vh;
    margin-left: -10vw;
    font-size: 0.9em;
  }

}

@media (min-width: 601px) {

  .profile-container {
    height: 10vh;
    width: 30vw;
  }

  .img-name-container {
    font-size: 1.15em;
  }

  .profile-img {
    width: auto;
    height: 5vh;
  }

  .account-drop-down-menu {
    height: 20vh;
    width: 25vw;
    margin: 0;
    margin-top: 30vh;
    margin-left: 0vw;
  }

}

.profile-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: rgb(184, 161, 134);
}

.logged-in-as-text {
  margin: 0;
  margin-left: 10%;
}

.img-name-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.img-name-container:hover {
  background-color: rgb(210, 193, 176, 0.1);
  color:#DABE99;
  border-radius: 10%;
  cursor: pointer;
}

.img-name-container:hover > .account-menu-button {
  transform: rotate(0deg);
}

.profile-img {
  border-radius: 50%;
}

.account-menu-button {
  width: 3.5vw;
  height: 3.5vh;
  filter: invert(86%) sepia(32%) saturate(424%) hue-rotate(333deg) brightness(92%) contrast(84%);
  transform: rotate(270deg);
}

.drop-down-active {
  width: 3.5vw;
  height: 3.5vh;
  filter: invert(86%) sepia(32%) saturate(424%) hue-rotate(333deg) brightness(92%) contrast(84%);
  transform: rotate(0deg);
}

.account-drop-down-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: absolute;
  background-color: #9D6538;
}

.account-drop-down-menu:hover {
  box-shadow: 0.25em 0.12em 0.12em #37251b;
}

.account-drop-down-menu:hover .sign-out-text:hover, .account-drop-down-menu:hover .edit-profile-text:hover, .view-contributions-text:hover {
  cursor: pointer;
  color:#DABE99;
  transform: scale(0.90);
}

.sign-out-text, .edit-profile-text, .view-contributions-text {
  margin: 0.5vh;
  font-size: 1em;
}

.drop-down-text-active {
  color:#DABE99;
}