/* used in both Create Account and Log In */

@media (max-width: 600px) {
  #close-form-button {
    width: 40vw;
    height: 5vh;
    font-size: 1em;
    color: #e4bc84;
    background-color: #37251b;
  }
}

@media (min-width: 601px) {
  #close-form-button {
    width: 20vw;
    height: 5vh;
    font-size: 1em;
    color: #e4bc84;
    background-color: #37251b;
  }
}

/* SIGNUP AND SIGN IN TEXT STYLING */

.sign-up-link, .sign-in-link {
  margin: 0;
  text-decoration: underline;
  color: rgb(194, 161, 134);
}

.sign-up-link:hover, .sign-in-link:hover {
  cursor: pointer;
  font-size: 0.95em;
  color: rgb(138, 109, 76);
}

/* FORM VALIDATION */

input:invalid {
  border: 2px dashed red;
  box-shadow: 0 0 5px 1px red;
}

input:valid {
  border: 2px solid #37251b;
}

input:invalid:required {
  background-image: linear-gradient(to right, #e4bc84, #d2c1b0);
  box-shadow: 0 0 5px 1px #8f755f;
}

input:focus:invalid {
  outline: none;
}

.error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: rgb(253, 255, 246);
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error-active {
  padding: 0.3em;
}