/* CLOSE FORM BUTTON STYLING IS IN auth.CSS */

#user-creation-form {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: #ad6d2f;
  color: #37251b;
  width: 50vw;
  height: 75vh;
  font-size: 1.25em;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
  margin: 0;
  margin-top: 1%;
}

#create-account-fieldset {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 65vh;
  width: 45vw;
  margin: 0;
}

#create-account-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 3vh;
  font-size: 1em;
  font-weight: bolder;
}

#username-label, #email-label, #password-label, #password-confirm-label {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0.5vh;
}

#username-input, #email-input, #password-input, #password-confirm-input {
  width: 45vw;
  height: 4vh;
  font-size: 1em;
}

#account-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 0;
  width: 20vw;
  height: 5vh;
  color: #e4bc84;
  background-color: #37251b;
}